[2012-03-08 17:12] drchoffnes opened #6 "directory structure"
Maybe this is just me, but I'm using Eclipse to manage both the server code and the app code, and Eclipse doesn't like it when one project directory contains another project. What do you think about moving all the MobiPerf app code into an 'android' directory similar to the Speedometer repository?

[2012-03-08 21:37] mdwelsh commented on #6
I agree. Could someone do that real fast?

[2012-03-13 00:26] #6 closed, assigned to nobody

[2012-03-23 21:31] quietbamboo opened #10 "Device ID selection issue"
Take a look at http://stackoverflow.com/questions/2785485/is-there-a-unique-android-device-id

What device ID to use?

Android ID has some problem, some devices have duplicated Android IDs?

TelephonyManager.getDeviceID()? sometimes not available

Get a unique ID from server? can't correlate the same user.

Need to discuss later

[2012-03-29 18:49] quietbamboo opened #11 "How to implement agreement and selected account?"
Currently, when MobiPerf is first run, user will see an agreement asking to agree or just quit.
If user clicks agree, the current MobiPerf would write something into a file in MobiPerf's sandbox.
Next time, just check this file. This method works for the entire life time of an app, even when the device is rebooted, users don't need to click agree again.

Another way to implement, is to use a stati

[2012-03-29 20:45] haneul commented on #11
I think that the choices should be kept even after rebooted for both of choices.
You may use sharedpreferences ( http://developer.android.com/reference/android/content/SharedPreferences.html ) to store it. (yes, it uses files to store..)

[2012-03-29 20:49] mdwelsh commented on #11
I am not 100% sure of the best way to do this, but I assumed there was a standard way in Android of storing persistent state - e.g., as a preference or in a database - rather than having to touch a file. You might want to Google around to see how this is done by other apps - something like this might do it:
http://blog.donnfelker.com/2011/02/17/android-a-simple-eula-for-your-android-apps/

[2012-03-30 04:41] quietbamboo commented on #11
OK, I've finished changing to use SharedPreferences and make the old functions Deprecated.

[2012-03-30 04:41] #11 closed, assigned to nobody

[2012-03-30 04:46] quietbamboo opened #12 "Notification at the top indicating whether MobiPerf is running in the background"
Add notification at the top indicating whether MobiPerf is running in the background, i.e., whether periodic setting is enabled or not in the preference page

[2012-03-30 05:20] quietbamboo opened #14 "Settings to select account again/ sign out"
Add settings to allow the user to change their authentication account anytime (not just the first time they run the app) and allow them to sign out.

Whether to allow them to sign out is to be discussed.
If we do, do we allow anonymous experiments?
If not, we can't allow them to sign out.

[2012-03-30 05:21] quietbamboo opened #15 "Add MobiPerfUmich tests to MobiPerf"
Add uplink/downlink, RTT/RTT variation tests into the new MobiPerf.

[2012-03-30 21:23] drchoffnes opened #16 "AppEngine support for anonymous data collection"
Allow data to be collected even if user is not logged in.

[2012-04-10 17:59] drchoffnes opened #18 "Boot Receiver bug"
The manifest file has the wrong package name specified for the boot receiver:

com.mobiperf.mobiperf.WatchdogBootReceiver

should be

com.speedometer.speed.WatchdogBootReceiver

... or you can move the class to the package specified in the manifest.

H/t to Seungyeop for finding the root cause.

[2012-04-10 19:40] quietbamboo commented on #18
Thanks. I've fixed it in my branch.
Will make a pull request once Matt has merged my last pull request.

[2012-04-10 20:46] drchoffnes commented on #18
Awesome, thanks! It might be a good idea to e-mail an updated apk to
the mobiperf list -- I had to turn off my phone for a flight this
weekend and didn't realize Mobiperf didn't come back on until I got
back today. :-(

On Tue, Apr 10, 2012 at 12:40 PM, Junxian Huang
reply@reply.github.com
wrote:

[2012-04-11 04:36] quietbamboo commented on #18
I've just sent out a new APK to our google group.

[2012-04-11 22:20] gavaletz opened #21 "README is lacking"
I had no idea that there was documentation.  My understanding is that functionally very little has changed from the speedometer code.  With that in mind can we update the MobiPerf README with the stuff from here (with changes as needed of course).

https://github.com/Mobiperf/MobiPerf/blob/master/README

[2012-04-12 19:54] quietbamboo commented on #21
Good suggestion. I will add this once my currently pending pull request get resolved.

[2012-04-16 01:52] mdwelsh commented on #12
Can you clarify what you mean by "at the top"? This could mean within the activity window or on the Android status bar. Actually, either is good - I tend to prefer an icon in the status bar, which also helps the app to run more often (since Android gives apps with status bar icons priority); however, a lot of users complained about this when we did it with Speedometer, so I disabled it.

Anyway -

[2012-04-16 17:23] gavaletz opened #25 "URLs for site creating stack traces"
This is something that is unlikely to happen from average users, but IMO it poses two issues when it does happen:

1) You are exposing implementation (not a huge thing since MobiPerf is open source).
2) It looks sloppy and does not help the user do the right thing.

If I were to enter a URL such as http://openmobiledata.appspot.com/checkin

It should do something other than dump a stack trace to m

[2012-04-16 19:44] drchoffnes commented on #25
SGTM. I think we can refactor such that

1) stack traces are dumped to the error log
2) browsers are redirected to a generic error page with a description of the error and, as you say, links to something like a FAQ.

Another thing we can do is print the stack trace to the response if the user is logged in as a developer/admin user.

Any other suggestions/thoughts?

[2012-04-16 23:51] mdwelsh commented on #25
+1 - this is a pretty ugly UX at the moment.

On Mon, Apr 16, 2012 at 10:23 AM, gavaletz
reply@reply.github.com
wrote:

[2012-04-17 01:09] gavaletz commented on #25
We can/should anticipate a lot of the things that would have caused stack traces and catch them sooner.  I do think that Dave has the right idea though about a last ditch effort to catch unexpected errors, and it would be a good version 1 solution too.

[2012-04-17 17:50] drchoffnes commented on #25
Ok, I'll make the changes described above.

[2012-04-17 22:16] quietbamboo opened #27 "Add opt-out option for location sharing"
Add opt-out option for location sharing.
Add a check box in the settings page.
If user specifies not to share their location, a mock location is used.

[2012-04-17 22:16] #27 closed, assigned to quietbamboo

[2012-04-18 06:22] quietbamboo opened #28 "Put old MLab server code into /mlab"
Put old MLab server code into /mlab
Start working on MLab server codes

[2012-04-18 06:24] quietbamboo opened #29 "Remove all PII from RTT and Throughput test and add to current MobiPerf"
Remove all PII from RTT and Throughput test and add to current MobiPerf.

Replace IMEI with a 128-bit UUID (generated for each test, not for each device), which could be used to link Android data with MLab tcpdumps.

Send the UUID to MLab and GAE using JSON protocol.

[2012-04-18 06:26] quietbamboo opened #30 "Update readme for new tests (TP/RTT)"
Update readme for new tests (TP/RTT) including the detailed protocol used, parameters.
Also update the privacy doc in Google Doc about these new tests.

[2012-05-18 05:01] haneul opened #41 "gpsEnabled is set to false by default."
It should be true.
Also, even after setting through preferences it's reset after rebooting (or process killed and rerun) as the value is not loaded from preferences.

[2012-05-19 23:18] mdwelsh commented on #16
Ping. Has this been done?

[2012-05-19 23:19] mdwelsh commented on #21
This has been done.

[2012-05-19 23:19] #21 closed, assigned to nobody

[2012-05-19 23:22] mdwelsh opened #42 "Bug: Scheduled results not persisting across runs"
I have been running the MobiPerf app and much of the time, when I start it up the "Scheduled measurements" tab under "Results" is empty (well, it contains TWO lines that say that the measurements will appear there). Whatever logic is supposed to be persisting the results across app activations is not working.

[2012-05-19 23:24] mdwelsh commented on #18
Where is this fix?

[2012-05-19 23:25] mdwelsh opened #43 "Bug: Results tabs have two lines that say results will appear"
Both the manual and scheduled results tabs have TWO lines that say results will appear there. Initially there should be only one, and it should go away once results have been posted.

[2012-05-19 23:27] mdwelsh opened #44 "Bug: System log empty"
The system log needs to show which actions the app took, which we can use for debugging. This needs to persist across app invocations. When I start up the app the system log is empty.

[2012-05-19 23:29] mdwelsh opened #45 "UI feature: Need status page in app"
The app needs a clear status page (or a panel on the main page) with basic information on the app's status:

How long it has been running
Whether background measurements are enabled
How many measurements have been taken
How many measurements have been uploaded (or alternately how many pending to be uploaded)
Last checkin time
Whether background tasks are disabled due to battery status
etc.

At pre

[2012-05-19 23:30] mdwelsh opened #46 "Feature: Rename periodic to background"
"Periodic running" should be renamed to "Background measurements".

This should be ON by default.

[2012-05-19 23:30] mdwelsh opened #47 "Feature: Battery threshold should be 75% by default"
Current default is 90% which is too high to collect much data. Set to 75% by default.

[2012-05-19 23:31] mdwelsh opened #48 "Feature: "About Us" page needs to be filled in"
The "About Us" Page in the app needs real content.

[2012-05-19 23:32] mdwelsh opened #49 "Feature: App needs to display version information"
version info needs to be on the splash page and on the "About Us" page.

[2012-05-19 23:37] mdwelsh opened #50 "Version number needs to be meaningful"
The OLD (and very broken) APK I have on my phone reports itself as being "v1.0". This is not v1.0, far from it. Please revert the version number to something meaningful so we can talk about which version we are on. I propose 0.2 since what I am running now is more like 0.1.

[2012-05-19 23:42] #50 closed, assigned to quietbamboo

[2012-05-19 23:42] #47 closed, assigned to quietbamboo

[2012-05-19 23:43] #43 closed, assigned to quietbamboo

[2012-05-19 23:43] mdwelsh commented on #42
This was on "V1.0". Will retest with v0.2.

[2012-05-20 00:21] mdwelsh commented on #42
This is still a problem in v0.2.

[2012-05-22 14:49] quietbamboo commented on #41
This is already fixed, please close this issue after merging the current pull request

[2012-05-22 17:31] haneul commented on #41
I checked the pull request, but I assume that it requires to change MeasurementScheduler::gpsEnabled value rather than changing only Preference?

[2012-05-22 18:57] mdwelsh opened #53 "Report GPS location before and after each measurement"
Will be useful for estimating whether the device was in motion during the measurement.
Would require changes to protocol and measurement schema to record > 1 location per measurement.

[2012-05-22 21:17] huangshu91 commented on #41
You are right.  I added a few lines to check for starting value in the next commit.

[2012-05-22 21:46] haneul commented on #41
@huangshu91  Do you mean the commits are also in the pull request?

[2012-05-22 22:01] huangshu91 commented on #41
No, I just mean that I took another look, made some changes, and committed for Junxian to review.  I have MeasurementScheduler check the preferences for the default setting upon creation.  I think this should be enough to fix the problem.

[2012-05-28 09:39] huangshu91 commented on #12
Matt, how should the app status be displayed on the main page?  I'm confused on what this will look like and how to fit all this information on the main page.

[2012-05-28 21:25] mdwelsh commented on #12
How about this: At the top of the main window (above the 6 buttons) a little text box with enough room for a few lines (say 3 lines) of status text. We can then update that status from anywhere in the app to include things like "Background measurement disabled due to low battery", "Ping measurement running", etc. It just serves as a single place to see what the app's current status is.

[2012-05-29 03:03] quietbamboo commented on #48
Is there any specific contents from others that need to be shown in the about?
Otherwise, I will draft the contents.

[2012-05-29 03:18] mdwelsh commented on #48
Here is a suggestion...

Mobiperf is a collaboration between University of Michigan, University
of Washington, and Google to develop an open platform for mobile
network measurements. Please see:

[code]

for more information about this project and for information on how you
can contribute.

Mobiperf is licensed under the Apache License, Version 2.0 (the
"License"); you may not use this file except

[2012-05-29 03:56] quietbamboo commented on #48
I've made a code review issue about this http://speedometer-reviews.appspot.com/5001/

[2012-05-29 03:59] quietbamboo commented on #48
My current about text is based on my draft and I didn't see your suggestion until just now.
However, it would be simple to change. I will make changes accordingly after the current changes get merged. How is it?

[2012-05-29 04:09] quietbamboo commented on #30
This is after the release of V1.

[2012-05-30 00:55] drchoffnes commented on #16
Nope, not yet. I will get to that once I sort out the previous pull
request reviews.

On Sat, May 19, 2012 at 4:18 PM, Matt Welsh
reply@reply.github.com
wrote:

[2012-05-30 17:34] huangshu91 commented on #46
Should be fixed.

[2012-05-30 17:34] #46 closed, assigned to quietbamboo

[2012-05-30 17:34] huangshu91 commented on #44
Should be done.

[2012-05-30 17:35] huangshu91 commented on #41
Should be done.

[2012-05-30 17:35] #41 closed, assigned to nobody

[2012-05-30 17:38] huangshu91 commented on #42
I just wanted to confirm that others are not getting this problem still.  If I completely stop and restart the app or even reboot my device the results are still persistent for me.

[2012-05-30 17:43] mdwelsh commented on #42
This still seems to be a problem. I just pulled my phone out and
looked at the list of results and only see ~30 or so measurements from
the last hour. Where are all of the others?

On Wed, May 30, 2012 at 10:39 AM, huangshu91
reply@reply.github.com
wrote:

[2012-05-31 19:16] quietbamboo commented on #49
So what's the version number to put into the splash page? v1.0?

[2012-05-31 19:49] quietbamboo commented on #49
I added v 1.0 to about and splash screen.
I've submitted a review request.

[2012-05-31 20:19] mdwelsh commented on #49
I didn't see a review request - be sure you mail it to me from the
review system.

On Thu, May 31, 2012 at 12:49 PM, Junxian Huang
reply@reply.github.com
wrote:

[2012-05-31 20:25] quietbamboo commented on #42
I just tested and could not tell why the scheduled result log is buggy.
AFAICT, the results show up as expected in my phone with 100% battery under 3G.

Notice that there are a couple of reasons that scheduled experiments will not be run, hence no result in the result tab:
1) If you are using WiFi (WiFi experiments are skipped, same as speedometer)
2) If you battery capacity is below threshold, 75

[2012-05-31 20:27] quietbamboo commented on #49
I just did. When I submit, upload.py throws some error saying that my image file is too large to be uploaded (about 600KB). But it's fine, I just added a version number to the right bottom of the splash screen image.

[2012-05-31 20:38] mdwelsh commented on #42
Yes, some of them are probably skipped, but I still expect results
older than an hour to show up there. Is there a limit on how many
results are remembered?

On Thu, May 31, 2012 at 1:25 PM, Junxian Huang
reply@reply.github.com
wrote:

[2012-05-31 20:50] quietbamboo commented on #42
Yes, at most 128 results. We can change though to whatever we want, or remove the limit if necessary, see the following code from MeasurementScheduler.java

/**
     \* Inserts a string into the console with the latest message on top
     */
    private void insertStringToConsole(ArrayAdapter<String> adapter, String msg) {
        if (msg != null) {
            adapter.insert(msg, 0);

[2012-05-31 21:23] mdwelsh commented on #42
I am seeing a lot less than 128 results.
In fact, usually I see zero results, and nothing in the task queue
when I start the app.

The system log is always empty, which was the mechanism we used to use
to debug these issues, so it would be good if you could fix that, it
has been broken for a while.

On Thu, May 31, 2012 at 1:50 PM, Junxian Huang
reply@reply.github.com
wrote:

[2012-05-31 21:25] huangshu91 commented on #42
What do you mean by the system log is empty?  Is it just missing a few
entries that you expect or completely empty?  The log has never been empty
for me and previously it was filled but due to the color, did not display
correctly.  It displays checkins, measurement runs, etc for me.

On Thu, May 31, 2012 at 5:23 PM, Matt Welsh <
reply@reply.github.com

[2012-05-31 21:26] mdwelsh commented on #42
The system log has always been empty for me, I never see anything in there.

On Thu, May 31, 2012 at 2:25 PM, huangshu91
reply@reply.github.com
wrote:

[2012-05-31 22:17] quietbamboo commented on #42
I don't know why this does not work for you, but my system log was flooded with at least a hundred logs.
Maybe you can run the most recent version and make sure your phone is connected 3G (not WiFi), and the battery is above threshold.

[2012-05-31 22:19] quietbamboo commented on #49
Done with pull request https://github.com/Mobiperf/MobiPerf/pull/56

[2012-05-31 22:19] #49 closed, assigned to quietbamboo

[2012-05-31 22:25] quietbamboo commented on #44
We will make sure this works.

[2012-05-31 22:43] quietbamboo commented on #42
Matt:

To make sure, I just sent an APK file via email asking everyone to give a try. You may install it and see if the issue still exists. Thanks!

[2012-06-01 02:40] mdwelsh commented on #44
Junxian, the app you sent me fixes the System Log, with one exception. When I look at the system log, I only see messages since the last 7-10 minutes or so, even though the app has been running for hours. I noticed that the first entry in the log was "Scheduler starting" (from about 7 minutes ago).

I think I know what is going on here. The app is getting evicted due to high memory pressure on the

[2012-06-01 04:00] quietbamboo commented on #44
Thanks! I will look into this issue tomorrow before our meeting!

[2012-06-01 20:00] quietbamboo commented on #44
In the MeasurementScheduler.java's onCreate and onDestroy, there are already code pieces to store the data and restore the data. I don't think we ever change the code.

I will do more testing to see whether it works. From my test in the last 24 hours, everything was working fine. What I plan to test is manually closing the app and reopening to see if the results are persistent

[2012-06-01 20:01] quietbamboo commented on #44
saveConsoleContent   restoreConsole are the two functions for storing and restoring contents in MeasurementScheduler.java

[2012-06-01 21:06] #45 closed, assigned to quietbamboo

[2012-06-01 21:06] mdwelsh opened #57 "Need to finalize anonymization pipeline"

[2012-06-01 21:07] mdwelsh opened #58 "Need to finalize anonymization pipeline"

[2012-06-01 21:09] #57 closed, assigned to drchoffnes

[2012-06-01 21:10] mdwelsh commented on #14
Waiting for server-side support for anonymous data upload.

[2012-06-01 21:12] mdwelsh opened #59 "Change "about" link on openmobiledata to point to mobiperf.com"

[2012-06-01 21:12] mdwelsh opened #60 "Add a Google map with aggregate statistics on data that has been collected"

[2012-06-05 17:58] drchoffnes commented on #16
My initial implementation is running at
http://anonymization-test.openmobiledata.appspot.com/. Junxian and
Shuheng will modify the app to confirm it works beyond the test data I
sent via python scripts.

On Tue, May 29, 2012 at 5:55 PM, Dave Choffnes drchoffnes@gmail.com wrote:

[2012-06-08 16:11] drchoffnes commented on #58
Code has been posted for review. Data can be viewed using the gsutil tool, via this command:

./gsutil ls gs://openmobiledata_public/

[2012-06-08 16:15] drchoffnes commented on #59
Done.

[2012-06-08 16:15] #59 closed, assigned to drchoffnes

[2012-06-08 16:45] mdwelsh commented on #44
Looks like this is still a problem - there are results showing up on the server which are not visible on the phone's scheduled results page.

[2012-06-08 16:46] mdwelsh opened #63 "System log shows measurement "running" when in fact phone is on WiFi"
Should not say "Running" in the system log when the measurement is being skipped due to WiFi or battery threshold.

[2012-06-08 16:59] quietbamboo commented on #12
Shuheng, can we close this issue now?

[2012-06-08 17:00] quietbamboo opened #64 "Add status notification in the Android system notification area at top"
Add status notification in the Android system notification area at top.
When the app is started when the phone reboots
When the app is running in the background

[2012-06-08 17:01] quietbamboo opened #65 "Make MobiPerf automatically starts when reboot"
Check whether MobiPerf automatically starts when reboot, if not, implement it

[2012-06-08 17:09] quietbamboo commented on #44
Can we close this issue now? I think the system log empty issue is fixed.

[2012-06-08 17:09] quietbamboo commented on #29
This is not todo for the initial release

[2012-06-15 17:18] drchoffnes opened #66 "Improved security for device ID"
Change IMEI to contain the TAC + a hashed/salted version of the rest of the IMEI

[2012-06-21 16:40] mezzeddine opened #67 "Show steps of how to upload MobiPerf server from windows PC"

[2012-06-22 16:35] mdwelsh commented on #65
Code review out for this now.

[2012-06-22 16:35] mdwelsh commented on #64
Code review out for this.

[2012-06-22 16:36] mdwelsh commented on #63
Code review out for this now.

[2012-06-22 16:38] mdwelsh commented on #58
code review out for this now (9001)

[2012-06-22 16:39] mdwelsh commented on #48
Please update the text in the code to match what is suggested above.

[2012-06-22 16:43] mdwelsh commented on #44
I think this is now fixed.

[2012-06-22 16:43] #44 closed, assigned to quietbamboo

[2012-06-22 16:52] mdwelsh commented on #42
This still seems to be broken for me. My app only shows results from 8am this morning although it has been running for a while.

[2012-06-22 16:54] mdwelsh opened #68 "Version numbering needs to be cleaned up"
Version numbers are a mess. The app splash screen and "About" page say 1.0. The Android Settings > Apps page for Mobiperf says 0.2. There needs to be a consistent version numbering scheme and this needs to be very clear to the user.

[2012-06-22 17:11] quietbamboo commented on #68
The plan is to have the consistent version number in the splash screen and about by reading from the app package. The app version goes from 0.2 to 0.3 0.4 until 1.0 for the initial release.

In the splash screen, a text box will be added at the right bottom corner for showing the version text.

[2012-06-22 20:22] quietbamboo opened #69 "Crashing bug for MobiPerf"
When you first open MobiPerf, then go to System's settings => applications => MobiPerf, force stop => reopen MobiPerf, mobiperf will crash.

The reason is because PhoneUtils's setGlobalContext is not called before the getPhoneUtils in a rare case.

[2012-06-22 20:22] quietbamboo commented on #69
This bug is fixed and I am submitting the code review

[2012-06-22 20:27] quietbamboo commented on #69
The code review 12001 is about this issue.

[2012-06-22 20:38] quietbamboo opened #70 "Options to clear all displayed results/server collected results"
Give users the options to clear all displayed results, including manual, automatic results and system logs.

(optional) give users the option to clear all server collected results from GAE.

[2012-07-12 15:30] quietbamboo commented on #69
Pull request https://github.com/Mobiperf/MobiPerf/pull/75 is about this issue

[2012-07-13 21:21] mdwelsh commented on #68
Ping?

[2012-07-13 21:21] mdwelsh commented on #65
Ping?

[2012-07-13 21:23] mdwelsh commented on #42
This still seems to be broken for me. When I start up the app I see no scheduled runs, although I've been running the app for a while now and definitely during times with (a) not WiFi and (b) above battery threshold.

Both the system log and the scheduled tasks seem not to be persisting.

Shuheng, could I ask you to please create a build with a lot of debugging logging in it, send it to me, I will

[2012-07-13 21:37] quietbamboo commented on #68
I believe this is solved here https://github.com/Mobiperf/MobiPerf/pull/73
Shuheng will merge the pull request later.

[2012-07-13 21:38] quietbamboo commented on #68
Closing the issue now since the only left thing is the pending pull request, we can reopen it if anyone disagrees with the closing

[2012-07-13 21:38] #68 closed, assigned to quietbamboo

[2012-07-13 21:40] quietbamboo commented on #65
I believe Shuheng has finished this part.
I will wait for Shuheng's feedback on this

[2012-07-13 21:43] #69 closed, assigned to quietbamboo

[2012-07-13 21:44] quietbamboo commented on #48
Done https://github.com/Mobiperf/MobiPerf/pull/72

[2012-07-13 21:44] #48 closed, assigned to quietbamboo

[2012-07-13 21:48] quietbamboo commented on #63
Shuheng, can we close this issue now? I believe this is done already.

[2012-07-13 21:49] quietbamboo commented on #64
Shuheng, can you close this issue if it's already done?

[2012-07-13 21:50] quietbamboo commented on #14
Looks like this is already done http://speedometer-reviews.appspot.com/11001/

[2012-07-13 21:50] #14 closed, assigned to quietbamboo

[2012-07-13 21:53] quietbamboo commented on #42
We will try hard to solve this bug, looks like this is the most challenging bug remaining ....

[2012-07-17 10:48] huangshu91 commented on #42
I sent an apk a few days ago with additional logging.  Have you had a chance to run it and if so could you email me the log?   Regarding the system log I thought we completely resolved that issue already.  I think it would be a good idea to once again make sure we are all on the same page by making an up to date version for us to use.

[2012-07-27 21:12] #64 closed, assigned to huangshu91

[2012-07-27 21:12] #63 closed, assigned to quietbamboo

[2012-07-27 21:14] mdwelsh commented on #12
This is not done yet. Code: http://speedometer-reviews.appspot.com/6002/

[2012-07-27 21:14] mdwelsh commented on #65
Not done yet, but in progress: http://speedometer-reviews.appspot.com/6002/

[2012-07-27 21:36] mdwelsh opened #78 "Need an in-app bug reporting mechanism"
For dogfood/beta release, simply having a clear email  link in the app to report a bug (e.g., to mobiperf@googlegroups.com) is fine.

Longer term, we should consider embedding a bug reporting library, e.g.,

http://www.hockeyapp.net/
http://code.google.com/p/acra/

[2012-08-21 18:03] mdwelsh commented on #42
I'm doing some more investigation on this and noticed that this problem seems to exist in the old Speedometer code as well. It is difficult to reproduce but I think it happens when the Speedometer background service is killed due to a low memory issue. (I noticed this morning that the results and system log pane were wiped out after receiving a phone call.)

Looking more deeply at the Speedometer

[2012-08-30 22:39] mdwelsh commented on #42
Fixed in pull request #11.

[2012-08-30 22:39] #42 closed, assigned to mdwelsh

[2012-08-30 22:42] mdwelsh opened #84 "Sporadic crashes at start"
There still seems to be a race condition when the app starts which causes an app crash.

I also noticed that the app would hang when sitting on the System Console screen possibly while the console was updating - likely race condition there. There are probably related to how we are sharing state between the MeasurementScheduler and UI activities.

adb bugreport shows:

8-30 11:32:54.294 25342 25342

[2012-08-30 22:43] mdwelsh opened #85 "Sproadic crashes at start"
The app still occasionally crashes at startup, as well as when viewing the console screen. Likely due to how we are sharing data between the MeasurementScheduler and UI tasks.

adb  bugreport shows:

8-30 11:32:54.294 25342 25342 E AndroidRuntime: FATAL EXCEPTION: main
08-30 11:32:54.294 25342 25342 E AndroidRuntime: java.lang.IllegalStateException: The content of the adapter has changed but ListV

[2012-08-30 22:44] mdwelsh opened #86 "Measurement results not persisted across scheduler restarts"
Measurement results are not persisted across scheduler restarts, meaning that measurements can be taken but lost (due to OOM eviction) before they are uploaded.

[2012-08-31 15:34] mdwelsh opened #87 "Android support for anonymous data collection"
We had this in the previous Mobiperf codebase (before reverting back to Speedometer) and it was addressed in this pull request:

https://github.com/Mobiperf/MobiPerf/pull/74

We should make the same change in the newest version of the code.

[2012-08-31 18:32] #65 closed, assigned to huangshu91

[2012-08-31 18:35] mdwelsh commented on #12
Should make this a default in the beta release.

[2012-08-31 18:37] mdwelsh commented on #16
Ping? What's the status of this?

[2012-08-31 18:39] #86 closed, assigned to nobody

[2012-08-31 18:39] #84 closed, assigned to nobody

[2012-08-31 19:41] #18 closed, assigned to nobody

[2012-08-31 19:41] #28 closed, assigned to quietbamboo

[2012-08-31 19:41] #30 closed, assigned to quietbamboo

[2012-08-31 19:42] #29 closed, assigned to quietbamboo

[2012-08-31 19:42] #67 closed, assigned to nobody

[2012-08-31 19:43] #66 closed, assigned to drchoffnes

[2012-08-31 19:43] mdwelsh commented on #53
Not going to do this - we decided for now not to use GPS location information at all in the app.

[2012-08-31 19:43] #53 closed, assigned to nobody

[2012-08-31 19:47] #10 closed, assigned to quietbamboo

[2012-08-31 19:50] mdwelsh commented on #25
Any word on this?

[2012-09-03 20:46] drchoffnes commented on #16
The code supporting this is still at
http://anonymization-test.openmobiledata.appspot.com/. I've been waiting
for confirmation from Junxian/Shuheng that this works before submitting a
code review.

@Junxian/Shuheng: Can you please let me know when you've tested this?

On Fri, Aug 31, 2012 at 11:37 AM, Matt Welsh notifications@github.comwrote:

[2012-09-03 21:12] drchoffnes commented on #25
The original server code has a line:

application = wsgi.WSGIApplication(m, debug=_True_)

The stack trace goes away and instead an HTTP 500 response is sent when
debug=False. This is the immediate fix.

The longer-term fix is that each request handler has to define a nice way
to deal with errors that isn't a generic exception.

Should I submit the short-term fix or wait until I've defined a handl

[2012-09-03 21:56] mdwelsh commented on #25
I'd say short term fix for now.

Thanks!

On Mon, Sep 3, 2012 at 2:12 PM, drchoffnes notifications@github.com wrote:

[2012-09-03 23:28] drchoffnes commented on #25
Submitted in issue 9001.

On Mon, Sep 3, 2012 at 2:56 PM, Matt Welsh notifications@github.com wrote:

[2012-09-04 00:19] huangshu91 commented on #16
In the previous version this was added already but the feature was rolled
back.  During the last meeting Matt mentioned that this was on the todo but
I think it's up to Dominic now.

On Mon, Sep 3, 2012 at 4:46 PM, drchoffnes notifications@github.com wrote:

[2012-09-04 16:06] ghost commented on #16
It is something that we want for the beta release, so we should roll this back in.

mdwelsh: was there an issue with how this was implemented?

[2012-09-04 16:12] mdwelsh commented on #16
No, I think the implementation done by the UMich guys could be cherrypicked
into the new code. The issue here is that we reverted to the Speedometer
code for the Android app, given all the lingering problems with the
previous code.

On Tue, Sep 4, 2012 at 9:06 AM, dominic-goog notifications@github.comwrote:

[2012-09-04 20:39] ghost commented on #87
It isn't quite as easy as cherry-picking those commits as we also have to add a preferences activity.

Should we start with anonymous as the default?

[2012-09-04 20:46] ghost commented on #12
The code review link is still not LGTM'd. Did it ever get finished?
I don't see anything in the code review that stops it being a default now.

[2012-09-04 21:06] huangshu91 commented on #87
If I remember correctly what happened was after consenting, the next dialog
would show a list of accounts as well as anonymous with anonymous as the
preselected choice.  Afterwards, in the preferences there was an option to
pop up this dialog again and reselect account.

On Tue, Sep 4, 2012 at 4:39 PM, Dominic Hamon notifications@github.comwrote:

[2012-09-04 21:11] huangshu91 commented on #12
No, this was up for review but we decided to roll back before this was ever
finished.

// TODO(mdw): Make this a user-selectable option
    //startSpeedomterInForeGround();

I think running in the background is the default currently but,
ideally it is an option and there is an additional notification about
which is currently set.

On Tue, Sep 4, 2012 at 4:46 PM, Dominic Hamon notifications@github.

[2012-09-04 22:10] mdwelsh commented on #12
Please keep the issue open but we need to make this change in the new
codebase.

On Tue, Sep 4, 2012 at 2:11 PM, huangshu91 notifications@github.com wrote:

[2012-09-22 02:11] #87 closed, assigned to mdwelsh

[2012-09-22 02:11] ghost commented on #58
You should be able to test this now.

[2012-09-22 02:12] ghost commented on #16
The Client code is in. Please close this when it's been tested.

[2012-09-22 02:14] ghost commented on #12
Here's what I'd really like to see, having played with the app a bit:

A small icon in the notification area when Mobiperf is running in the background. When the user expands the notification area, there should be a line item for Mobiperf with a status text. This item should not be 'swipable'.

WDYT?

[2012-09-22 15:12] mdwelsh commented on #12
We had this originally and there is code in Speedometer to do it - I think
you have to comment out a couple of lines to turn it on. The problem is
that a bunch of users complained about it. So we should decide...

On Fri, Sep 21, 2012 at 7:14 PM, Dominic Hamon notifications@github.comwrote:

[2012-09-22 16:00] quietbamboo commented on #12
Can we make the notification "swipable" so as to be more user-friendly?
At least, the user will know that MobiPerf is running in the background before they clear the notification field.

[2012-09-22 16:32] quietbamboo opened #100 "Traceroute result presentation error"
One problem I found is about the traceroute measurement.

The result shown in the Results tab => Manual has some problems.

For the first hop:
"1 192.168.1. 37.3ms" it should be => "1 192.168.1.110 37.3ms"
Among the 15 hops in my case, 3 hops have this problem, that the last number of the IP address is missing.
But the other 12 hops are fine.
One suggestion I have is, to align the RTT numbers, e.g

[2012-09-22 16:37] quietbamboo opened #101 "Results temporarily disappear in the "Results" => "Manual" tab"
To reproduce this bug, first run any test so that in the "Manual" tab, there is some results to show.

Then go to "Results" => "Manual", there should be some results.

Then rotate the screen so that the app adjusts itself to the new orientation.

Then all results in the "Manual" tab is gone. But if you click "Scheduled" and then click "Manual" tab again, the results will reappear.

Instead, we sho

[2012-09-22 16:40] mdwelsh commented on #101
Right, this is a side effect of my fix to the race condition. We need some
safe way of polling for when the scheduler is available, or perhaps a new
intent. It's a little tricky so I've focused first on eliminating crashes
:-)
On Sep 22, 2012 9:37 AM, "Junxian Huang" notifications@github.com wrote:

[2012-09-22 16:43] quietbamboo opened #102 "App crash"
Bug found.

I've run MobiPerf this morning. I'm running it with Android 2.3.3, with WiFi access.

Attached is the debug.txt (output of adb logcat *:s 'Mobiperf') and bugreport.txt (output of adb bugreport).

What I've done is, first run an UDP down experiment (the result says PRR 0.0, so not sucessful?), then run an UDP up experiment (the results says experiment has failed, I'm not sure why). Then

[2012-09-23 04:31] mdwelsh commented on #102
Yeah, there's a known problem with switching between these views. It's been
hard to isolate... Is this crash consistently repeatable?
 On Sep 22, 2012 9:44 AM, "Junxian Huang" notifications@github.com wrote:

[2012-09-24 15:29] ghost commented on #12
What was the nature of the complaint? This is a fairly standard thing that other applications do. Making it swipable would be more confusing, i think, as it might lead the user to think they're closing the process, which they wouldn't be.

[2012-09-24 15:31] mdwelsh commented on #12
A bunch of people complained about it taking up space in the menu bar. It's
also not very aesthetic to have yet another icon there.
 On Sep 24, 2012 8:29 AM, "Dominic Hamon" notifications@github.com wrote:

[2012-09-24 15:49] ghost commented on #12
I know many apps have background processes that don't show up as icons, but for Mobiperf it feels strange. Possibly because it's such an active process - ie, it's not just waiting for push notifications or polling a server, but is running tests that use CPU/RAM and therefore battery. It's also somewhere to alert the user to the status without cluttering up the main UI.

People will always complain

[2012-09-24 15:52] quietbamboo commented on #12
A compromise might be, if not making things worse, add in the settings an option for users to disable/enable such notifications, and whether to set the default to on or off is to be discussed.

[2012-09-24 15:54] quietbamboo commented on #102
It's not consistently repeatable. Hopefully, from my debug.txt and bugreport.txt, we can find some clue of what's happening during that crash.

[2012-09-24 15:57] ghost commented on #12
Sounds fair, as long as it doesn't delay launch further. In the interests of launching sooner we could add the icon and then work on a preference to disable it ;)

[2012-09-24 16:00] ghost commented on #102
Attachments at: https://gist.github.com/3776713

[2012-09-24 16:10] ghost commented on #102
09-22 12:11:43.368   127   132 I am_crash: [1108,com.mobiperf.speedometer,572998,java.lang.IllegalStateException,The content of the adapter has changed but ListView did not receive a notification. Make sure the content of your adapter is not modified from a background thread, but only from the UI thread. [in ListView(2131361792, class android.widget.ListView) with Adapter(class android.widget.Arra

[2012-09-24 16:14] ghost commented on #100
Taking this one as it doesn't require too much depth of knowledge of the codebase.

[2012-09-24 16:41] mdwelsh commented on #102
Yes, this is the bug I've been trying to nail down. I'll keep working on it.

On Mon, Sep 24, 2012 at 9:10 AM, Dominic Hamon notifications@github.comwrote:

[2012-09-24 17:53] ghost commented on #100
Fixed in https://github.com/Mobiperf/MobiPerf/pull/103

[2012-09-24 17:53] #100 closed, assigned to nobody

[2012-09-24 18:49] ghost commented on #12
http://speedometer-reviews.appspot.com/28001/

[2012-09-24 18:55] #12 closed, assigned to mdwelsh

[2012-09-24 19:07] #58 closed, assigned to drchoffnes

[2012-09-24 19:08] ghost commented on #16
I closed the other issue relating to this and assigned this to drchoffnes for testing.

[2012-09-24 19:28] drchoffnes commented on #16
Can we send out builds that implement the features that need to be tested
on GAE? I don't see the option for account switching in the latest version
that was sent out. I'll try building from source for now, but it's easier
to get non-developers to test for us if we have an APK to distribute.

On Mon, Sep 24, 2012 at 12:08 PM, Dominic Hamon notifications@github.comwrote:

[2012-09-24 19:29] ghost commented on #101
https://speedometer-reviews.appspot.com/29001/

[2012-09-24 19:33] ghost commented on #16
sent by email to the list.

[2012-09-24 19:43] #101 closed, assigned to nobody

[2012-09-24 20:17] drchoffnes commented on #16
For whatever reason, the app is still trying to login when set to
anonymous. This is unnecessary and causes the app to fail to proceed. It
should skip any attempt to authenticate before contacting GAE when set to
anonymous reporting. Here's the offending GET:

GET /anonymous/_ah/login?continue=
https://anonymous-reporting-test.openmobiledata.appspot.com/anonymous&action=Login&auth=DQAAAMQAAAAFeGVb

[2012-09-24 21:09] ghost opened #107 "Setting account doesn't store auth cookie"
I noticed the scheduled tests were failing when anonymous so I set an account. This worked until i restarted, now i have no auth cookie again and tests are failing. Settings do show that an account is selected.

[2012-09-24 21:14] drchoffnes commented on #107
I mentioned the bug related to logging in when anonymous -- should we consider it part of this same issue or should I start a new one?

[2012-09-24 21:15] ghost commented on #107
@drchoffnes That should be covered under the existing 'testing anonymous' bug i think.

[2012-09-24 22:11] ghost commented on #102
If this is the same as #85, we should probably close it.

[2012-09-24 22:30] ghost opened #109 "Crash on startup in emulator"
I set up an emulator on android-8 (level 12) to test the min supported version and I have a 100% crash on startup:

09-24 15:28:46.561 I/am_crash(   65): [318,com.mobiperf.speedometer,48710,java.lang.NullPointerException,Unable to start activity ComponentInfo{com.mobiperf.speedometer/com.mobiperf.speedometer.SpeedometerApp}: java.lang.NullPointerException,AccountSelector.java,118]

[2012-09-24 22:32] ghost commented on #109
Looks like there's no AccountManager and when we find that we leave the accountNames null and then try to index in to it. I'll see what can be done.

[2012-09-24 22:51] ghost commented on #109
http://speedometer-reviews.appspot.com/31001/

[2012-09-25 18:27] #102 closed, assigned to mdwelsh

[2012-09-25 18:27] ghost commented on #85
Expected to be fixed by https://github.com/Mobiperf/MobiPerf/pull/112

Please reopen if anyone sees it again.

[2012-09-25 18:27] #85 closed, assigned to mdwelsh

[2012-09-25 18:28] #109 closed, assigned to nobody

[2012-09-26 00:03] ghost commented on #16
@huangshu91 Can you take a look at this?

It seems that it's correctly skipping trying to authenticate when the user is set to anonymous, but it's then failing the checkin as an authCookie is expected. I don't know if the best thing to do is use a fake auth cookie for anonymous, or change the checkin code to check the active account. Your call.

Stack trace:

Got exception during checkin
E/Mobiper

[2012-09-26 02:47] huangshu91 commented on #16
I am discussing with Junxian how to proceed because this semester I am very
busy.  We will take care of this but it might be a different student.

On Tue, Sep 25, 2012 at 8:03 PM, Dominic Hamon notifications@github.comwrote:

[2012-09-26 04:21] ghost commented on #16
OK, that's fine. I only asked you as you're most familiar with the code.
Please do bear in mind the goal of getting this fixed asap so we can launch
in the next month or so.
On Sep 25, 2012 7:47 PM, "huangshu91" notifications@github.com wrote:

[2012-09-26 05:04] mdwelsh commented on #16
So, I think the deal is that the AppEngine server needs to be configured to not require authentication in order for the Android app to talk to it. I believe there's an option in the AppEngine YAML file to disable the need for authentication. You can also test this by visiting the website which should let you browse around without having logged in.

[2012-09-26 14:55] ghost commented on #16
That's been done as I understand it, at least on the version that is not
live, but the app itself has broken logic: One part is skipping the
creation of the auth cookie, and the part that runs the scheduled tasks is
still expecting an auth cookie. It should be as simple as changing the
latter to not require an auth cookie if the selected account is the
anonymous one, but I am not confident enough

[2012-09-26 17:13] ghost commented on #16
@drchoffnes I have now made a local change that enables checkin to the anonymization-test instance and I get a bad response: https://gist.github.com/3789261

It looks suspiciously like a request to choose an account...

[2012-09-26 23:29] drchoffnes commented on #16
When the account is set to anonymous, all code for checking in and
posting measurements should use

/anonymous/[page]

instead of just

/[page]

I think this is the source of the problem you posted.

On Wed, Sep 26, 2012 at 10:13 AM, Dominic Hamon notifications@github.comwrote:

[2012-09-27 18:49] ghost commented on #16
Got it - and the code is out for review that should fix this.

My local test checked in ok but i can't seem to find anonymous data on the
site to verify that the checkin worked.

On Wed, Sep 26, 2012 at 4:29 PM, drchoffnes notifications@github.comwrote:

[2012-09-27 19:49] ghost opened #114 "Unit tests"
Unit tests need to be updated so they can run.

[2012-09-27 19:57] #114 closed, assigned to nobody

[2012-09-27 20:02] ghost commented on #16
Checked in the version that correctly checks in when anonymous. @drchoffnes when you can, please confirm that the anonymous checkins are showing up on GAE (and where to see those anonymous checkins).

[2012-09-27 20:09] ghost commented on #107
Seems to be working after my latest anonymization changes.

[2012-09-27 20:09] #107 closed, assigned to nobody

[2012-09-27 20:29] huangshu91 commented on #16
Thanks for finishing this.  Sorry that we were not able to provide anyone
in time.

On Thu, Sep 27, 2012 at 4:02 PM, Dominic Hamon notifications@github.comwrote:

[2012-09-28 20:22] quietbamboo opened #117 "Traceroute problem"
When I use MobiPerf to traceroute to www.ebay.com, it says failure.

However, when I traceroute in my computer, I can see that the reason is that from hop 11, there are all timeouts. So I think the timeout/error handling of the existing traceroute test module can be improved

traceroute www.ebay.com
traceroute: Warning: www.ebay.com has multiple addresses; using 66.211.181.161
traceroute to www.eb

[2012-09-28 21:48] ghost commented on #117
Took this of v2.0 blocking list.

[2012-09-28 21:55] quietbamboo opened #118 "Splash screen size not matching"
Current splash screen is a little "short" and there are some white boundaries.
Maybe in the future we can first detect the screen size and make the splash screen stretch a little bit to fit into the whole screen?

[2012-09-28 22:00] ghost commented on #118
See http://stackoverflow.com/questions/2561598/what-resolution-should-my-android-splash-screens-be regarding 9-patch images. Perfect for splash screens.

[2012-09-28 22:05] quietbamboo commented on #118
Thanks for the pointers, we will get this done later.

[2012-09-28 23:55] mdwelsh opened #119 "Menubar notification does not go away when app is quit"
The menubar notification should disappear when we quit the app.

To reproduce:
- Run Mobiperf
- Menubar icon should appear
- Go to settings > quit
- App seems to quit but menu bar icon still there - is the service still running?

[2012-09-29 00:34] ghost commented on #119
My guess would be the background service is still running. If you quit the service from the manage apps screen in settings it should go away.

It's an Android thing: App 'quit' != kill all my services. We could make quit kill all services, but the OS has ways to do that already so I'm not sure it's actually needed. I suggest removing 'quit' from the menu.

[2012-10-02 10:38] ghost commented on #119
Any thoughts on removing 'quit'? It really doesn't make sense to have it there as it doesn't kill the service.

[2012-10-02 17:21] mdwelsh commented on #119
There needs to be a quick and easy way for a user to completely turn off
Mobiperf for whatever reason - battery drain, data usage, privacy concern,
etc. In the past, Quit actually did kill the service...

On Tue, Oct 2, 2012 at 3:38 AM, Dominic Hamon notifications@github.comwrote:

[2012-10-02 17:30] ghost commented on #119
You don't think the app management setting in the OS is the place for this?

Users that care about this stuff will know about it and I'd guess they'd go
there first.

Of course, if its easy to kill the service then great, but I don't know
about that.
On Oct 2, 2012 7:21 PM, "Matt Welsh" notifications@github.com wrote:

[2012-10-02 17:49] mdwelsh commented on #119
Speedometer has supported this since the beginning so I know it's possible!

On Tue, Oct 2, 2012 at 10:30 AM, Dominic Hamon notifications@github.comwrote:

[2012-10-02 21:53] drchoffnes commented on #16
I see one anonymous checkin+data from Brussels and a bunch from UMich. So
it looks like it's working. Could you send out the APK again at some point?
Or can we move to some kind of "nightly build" system? I'd like to do more
testing.

Sorry for being so unresponsive. Should be better over the next week.

On Thu, Sep 27, 2012 at 1:29 PM, huangshu91 notifications@github.comwrote:

[2012-10-02 22:17] ghost commented on #16
No problem  - In that case can you make the anonymous-reporting-test the default and i'll change the anonymous server to point to the normal url?

good idea re nightly build. we don't have infrastructure for that but could just send out builds every day there's a fix. i'll work on a new build now.

[2012-10-03 08:19] drchoffnes commented on #16
Anonymous reporting is also the default already :-)
On Oct 3, 2012 12:17 AM, "Dominic Hamon" notifications@github.com wrote:

[2012-10-04 08:06] ghost commented on #16
updated the client to match. done!

[2012-10-04 08:06] #16 closed, assigned to drchoffnes

[2012-10-09 23:52] ghost opened #121 "UDP test always fails - remove it."
Well, not always, but it fails when the server doesn't have a server that speaks UDP test.

Removing the test for this release. m-lab support is needed to bring it back for the next point release.

[2012-10-09 23:55] ghost opened #122 "UDP test always fails - add m-lab support"
UDP test requires the mobiperf backend to be listening. This is running on m-lab so hard-coding the target to use mlab-ns for a server is a good start.

theoretically there could be a number of servers available, each of which supports the test, but m-lab is a good first step.

[2012-10-09 23:59] #121 closed, assigned to nobody

[2012-10-10 21:10] teamwork523 opened #124 "Anonymous selection doesn't work for the boot up time"
I found a bug when you install a fresh MobiPerf, then the program let you select whether you want anonymous account. I actually clicked on the button, and the background information pumped as "You have selected anonymous account". However, if I went back to check the settings, the anonymous option is not selected.

Best,
Haokun
(Since this is the first time I report a issue, I am a graduate studen

[2012-10-12 21:44] ghost opened #125 "Check version is being sent to GAE"

[2012-10-12 21:45] ghost opened #126 "Change server selection for scheduled tests"
Google domains
m-lab servers
UMich servers
UW servers

[2012-10-17 20:24] ghost commented on #119
Fix ready for review at http://speedometer-reviews.appspot.com/38001/

[2012-10-17 20:37] #119 closed, assigned to nobody

[2012-10-19 00:08] drchoffnes commented on #126
This is (finally) done. Now probing some Google, Mlab and Youtube sites.

[2012-10-19 00:18] ghost commented on #126
i haven't seen a pull request or any commits. should i expect one?

[2012-10-19 00:26] drchoffnes commented on #126
Nope, this is managed entirely via the Web interface at
http://openmobiledata.appspot.com/.

On Thu, Oct 18, 2012 at 5:18 PM, Dominic Hamon notifications@github.comwrote:

[2012-10-19 00:27] ghost commented on #126
Oh, neat!

[2012-10-19 00:27] #126 closed, assigned to drchoffnes

[2012-10-19 02:10] mdwelsh commented on #126
Awesome! Are there any static images on the mlab servers you can point HTTP
GET tasks to? This is really useful for getting bandwidth estimates.
Measuring www.google.com doesn't tell you a whole lot :-)

On Thu, Oct 18, 2012 at 5:27 PM, Dominic Hamon notifications@github.comwrote:

[2012-10-19 02:20] drchoffnes commented on #126
I couldn't find an image (all the visualizations are dynamic content!), so
I added a URL for a ~100K PDF.

On Thu, Oct 18, 2012 at 7:10 PM, Matt Welsh notifications@github.comwrote:

[2012-10-19 02:32] mdwelsh commented on #126
Oh, I meant an image hosted on the M-Lab servers themselves (not on the
main mlab website).

You can also measure

http://www.google.com/help/hc/images/mapmaker_188657_light_en.jpg

which is a fairly large static image.

On Thu, Oct 18, 2012 at 7:20 PM, drchoffnes notifications@github.comwrote:

[2012-10-19 02:50] drchoffnes commented on #126
I'm a little worried about having clients regularly download a 2M image in
the background. Maybe just once a day?

On Thu, Oct 18, 2012 at 7:32 PM, Matt Welsh notifications@github.comwrote:

[2012-10-19 02:59] mdwelsh commented on #126
Yeah, good idea, especially until we get data usage limits in place. If you
can find a smaller static image hosted on a Google domain that works too...
 On Oct 18, 2012 7:50 PM, "drchoffnes" notifications@github.com wrote:

[2012-10-19 21:13] ghost commented on #125
Confirmed by @drchoffnes

[2012-10-19 21:13] #125 closed, assigned to huangshu91

[2012-10-19 21:13] ghost opened #129 "Remove v from version sent to GAE"

[2012-10-22 17:09] ghost opened #130 "Collect data when on WiFi"

[2012-10-22 22:22] huangshu91 commented on #124
I overlooked this when I was re-implementing accounts.  The account is internally set correctly but isn't reflected int he preferences.  In the previous version it would just default to anonymous I think.  Haokun, could you just take a look at SpeedometerPreferenceActivity.java and just make a check if it is set and if it isn't, default to anonymous, otherwise have the selected account highlighted

[2012-10-22 23:38] ghost commented on #124
This isn't going to fix the issue.

If I select a real account on the first-run dialog, it still isn't set in the preferences. It shouldn't default to anonymous in this case.

It must be that the first-run dialog is not setting the account correctly internally.

[2012-10-23 04:39] huangshu91 commented on #124
Sorry, I don't understand what you mean by, "If I select a real account on the first-run dialog, it still isn't set in the preferences. It shouldn't default to anonymous in this case."

When I say it defaults to anonymous I just mean what the default selection is for the list preference.  After selecting the account in the first-run dialog the account should be persisted, it just isn't shown in th

[2012-10-23 04:41] quietbamboo commented on #124
I'm trying to fix this issue now

[2012-10-23 05:17] quietbamboo commented on #124
This bug is fixed. Please review the code here http://speedometer-reviews.appspot.com/41001/

[2012-10-23 18:37] #124 closed, assigned to huangshu91

[2012-11-12 08:54] aww-aww opened #133 "Change PhoneUtils.intToIp so that it can handle IPv6"
The current approach assumes a 32 bit int. It would require a bit of reordering, but the easiest fix is probably checking the size of InetAddress.getByAddress(bytes) initially and handling it as v4 if it is 4 bytes and v6 if it is 16 bytes.

[2012-11-13 10:29] aww-aww opened #134 "Feature Request: Include more Wi-Fi details"
Wi-Fi is affected by the number of other people using the same channel, it would be good to collect details about the number of other in-range access points, namely the rssi and channel(s) used by other APs

[2012-11-13 10:41] aww-aww opened #135 "Feature Request: Add a reachability test for RTSP"
It would be good to test reachability for realtime streaming protocol (TCP 554).

[2012-11-13 10:42] aww-aww opened #136 "Feature Request: Change the throughput test to use NDT"
http://code.google.com/p/ndt/

[2012-11-13 10:46] aww-aww opened #137 "Feature Request: Report on resolver latency and comparison to public servers"
It would be good to report on resolver latency and compare it to the resolver latency using a few well known servers, such as Google Public DNS and Open DNS.

[2012-11-13 11:06] aww-aww opened #138 "Feature Request: Check for NXDOMAIN hijacking"
It would be good to check that known bad FQDNs return an NXDOMAIN response as expected and are not  hijacked.

[2012-11-13 15:30] ghost commented on #136
I don't agree. We have NDT for android and having an alternate methodology that can be compared to the results from that mobile app is useful. Having two apps that measure the same thing is less useful from a research point of view.

[2012-11-13 15:32] ghost commented on #138
This doesn't sound like it's in line with MobiPerf's remit to measure performance. It seems more like a feature for a mobile app that is focused on censorship and filtering. Maybe Ooniprobe.

[2012-11-13 16:09] aww-aww commented on #138
Hijacked DNS has an impact on performance.

On Tue, Nov 13, 2012 at 7:32 AM, Dominic Hamon notifications@github.comwrote:

[2012-11-13 16:16] aww-aww commented on #136
How robust is the current test? Having the Web100 vars and additional
details like jitter, loss and buffer sizing you get from NDT is awfully
nice. Having an alternate methodology has value, but it would be great to
get more information. Perhaps this should be changed to be a request to
enhance the current throughput test.

On Tue, Nov 13, 2012 at 7:30 AM, Dominic Hamon notifications@github.comwro

[2012-11-14 05:49] quietbamboo commented on #134
No doubt these information is useful. However, we may need to discuss whether this violates user privacy, because WiFi AP information can be used to infer users locations.

[2012-11-14 06:51] aww-aww commented on #134
doing a hash of the ssid / bssid or just dropping it ought to be fine, the
most useful info is the number of stations, their strength and which
channel(s) they are on.

On Wed, Nov 14, 2012 at 1:49 PM, Junxian Huang notifications@github.comwrote:

[2012-11-15 13:37] aww-aww opened #140 "Web site issues - typos and awkward grammar on the new home page"
The new home page could use a quick trip through a spell checker and a review of grammar, as there are a number of awkward sentences and a few typos.

http://www.mobiperf.com/home

[2012-11-15 14:20] quietbamboo commented on #140
Thanks for reporting the issues.
I've made a few fixes. Let me know if there are further issues with http://www.mobiperf.com/home

[2012-11-16 06:35] #122 closed, assigned to nobody

[2012-11-25 18:05] aww-aww opened #143 "Change the www.youtube.com HTTP test to use m.youtube.com as the host"
Most mobile user agents will get a 302 to m.youtube.com if you try to fetch www.youtube.com, so the current test fails really often as it is not expecting a 302 response.

[2012-11-26 14:00] drchoffnes commented on #143
Fixed.

[2012-11-26 17:54] ghost commented on #143
Fixed as in you changed the scheduler to not send to www.youtube.com?

That's not really fixed as youtube is not the only culprit and users can
enter their own sites. Ideally, Mobiperf would handle 302s gracefully and,
even better, report them. Many mobile site delays are caused by redirects
and enumerating them for users would be very helpful.

On Mon, Nov 26, 2012 at 6:00 AM, drchoffnes notifica

[2012-11-26 20:22] drchoffnes commented on #143
Correct on the change.

Agreed that mobiperf should handle other response codes more gracefully.

On Nov 26, 2012, at 9:55 AM, Dominic Hamon notifications@github.com wrote:

Fixed as in you changed the scheduler to not send to www.youtube.com?

That's not really fixed as youtube is not the only culprit and users can
enter their own sites. Ideally, Mobiperf would handle 302s gracefully and,
even be

[2012-11-26 23:32] mdwelsh commented on #143
My understanding is that Mobiperf does NOT follow HTTP redirects and
instead reports whatever response code the server gives us back. This is
important so we can avoid things like redirect loops. Accurately emulating
browser behavior with regards to redirects and things like caching is
challenging here.

On Mon, Nov 26, 2012 at 12:22 PM, drchoffnes notifications@github.comwrote:

[2012-11-26 23:35] ghost commented on #143
It does reduce the usefulness of the HTTP test though: If I go to a site
and wonder why it's taking so long, mobiperf is the perfect tool to start
up and try to run the same test. If I see X redirects before the site
loads, or even X redirects before a timeout of Y seconds (minutes!) then I
might learn a bit more about why that site is so slow. Without this, the
best I learn is that there is at le

[2012-11-26 23:39] mdwelsh commented on #143
I think it depends on what the HTTP test is meant to be used for. We
intended it to be a simple downlink throughput test, not a test of a web
page's loading time.

On Mon, Nov 26, 2012 at 3:35 PM, Dominic Hamon notifications@github.comwrote:

[2012-11-26 23:46] drchoffnes commented on #143
Maybe we should not report it as a failure if it gets a 302. It's not like
the GET failed to reach the web server.

I'm personally more in agreement with Matt, that the http probe should not
follow redirects. I confirmed that we are seeing the 302 status in GAE so
we could eventually use this information to design an experiment that
includes an additional measurement task for the redirect. I'd rat

[2012-11-27 05:53] aww-aww commented on #143
It would be nice to cover both scenarios. Keep the vanilla HTTP test that does not follow redirects, but modify it so it does not treat a 302 as a failure (it is also worth considering how to handle 204, 301 and 304 responses, as there are valid 'success' cases that may return those codes). A new HTTP test that follows redirects with a max of say 5 redirects to avoid loops would provide additional

[2012-11-27 05:54] #140 closed, assigned to nobody

[2012-11-27 05:59] aww-aww opened #144 "Feature Request: Add a high level dashboard with overall test volume and basic stats"
To build a solid community around MobiPerf and encourage people to continually run the app, it would be good to provide a high level dashboard with some aggregate details such as:
- total number of tests run (cumulative graph)
- breakdown of success / failure by test or in aggregate
- breakdown of which countries the the app has been run in w/ avg. daily volume (top 20?)
- avg + st. deviation for

[2012-11-27 06:15] aww-aww opened #145 "Feature Request: AppEngine console tweaks"
At the moment, the UX for the console (http://openmobiledata.appspot.com) is a bit odd. Most people who visit are probably interested in location and test details, but those elements are not emphasized.
- The 'Measurement schedule' table takes up a lot of space and most people probably will not care. Consider putting the info on its own page and linking to it instead of in-lining it?
- Test result

[2012-12-03 02:09] aww-aww commented on #130
What is the timeline for 2.1 beta? It is pretty disheartening to see the huge number of failures while on Wi-Fi.

[2012-12-03 02:12] aww-aww commented on #143
While this is being sorted out, it probably makes sense to remove the HTTP test for www.google.com, as it will fail for most non-US users due to geo detection and a 302 to the localized version of Google.

[2013-01-07 03:14] aww-aww opened #146 "MobiPerf should respect airplane mode"
MobiPerf does not pause when the device it is running on is in airplane mode. Tests obviously will not work in airplane mode, so the program should pause like in the low battery condition.

[2013-01-07 03:14] aww-aww commented on #130
Now that we're in the New Year, is there a target for 2.1?

[2013-01-16 23:31] aww-aww opened #149 "Bad contact info on the website"
The contact page lists 'mobiperf@googlegroups.com' as the contact address, but it bounces.

"We're writing to let you know that the group you tried to contact (mobiperf) may not exist, or you may not have permission to post messages to the group."

The checkin server also seems to be having problems.

[2013-01-17 02:07] aww-aww opened #150 "IPv6 breaks some tests"
I configured a device on T-mobile using their IPv6 APN and some of the ping / traceroute tests stopped working (using baseband, not Wi-Fi). The exact failure reason is not clear as ping / traceroute fail to www.google.com and some of the mlab targets, but they work fine for others. It is not something simple like lack of a AAAA. I'll poke at it a bit more and try to sort out what the real issue is

[2013-01-17 04:42] mdwelsh commented on #150
For ping and traceroute it's using the system ping binary, not ping6.
You are one of a very small number of users with ipv6 enabled on T-Mobile's
global network, so I am not sure this is that critical :-)

On Wed, Jan 16, 2013 at 6:07 PM, Andy Warner notifications@github.comwrote:

[2013-01-17 14:52] ghost commented on #150
Not critical, but important. It should be trivial to detect if the
INetAddress connected to is v4 or v6 and change the binary used accordingly.

On Wed, Jan 16, 2013 at 8:42 PM, Matt Welsh notifications@github.comwrote:

[2013-01-17 14:52] ghost commented on #149
curious. the group is
https://groups.google.com/forum/?fromgroups#!forum/mobiperf

On Wed, Jan 16, 2013 at 3:31 PM, Andy Warner notifications@github.comwrote:

[2013-01-18 20:45] teamwork523 commented on #150
In the coming version 2.1, it will check the resolved ip address byte length, and then apply ping or ping6 accordingly.

[2013-01-19 02:56] teamwork523 commented on #133
I am working on this issue before releasing 2.1. The current approach is to acquire Wifi ip first (WifiInfo could only return ipv4 in integer). Then use java.net.NetworkInterface to find all possible ip addresses and return the first available one. Actually the network interface provides both ipv4 and ipv6 right now, but since ipv6 comes first and got returned immediately, then the value is always

[2013-01-19 18:49] aww-aww commented on #150
Great. I agree this is not super important, as it will affect very few people at this point, but from a doing the right thing perspective, it would be great to get to it sooner rather than later. Glad haokun is on it. It would be really nice to fix testing via Wi-Fi while adding the v6 hooks as it looked like the tweaks needed are largely in the same bits of code.

[2013-01-19 18:53] aww-aww commented on #149
Just tested again and got another bounce. The group exists, so I'm guessing the permissions are set such that posts from non-members are not accepted.

[2013-01-19 19:18] teamwork523 commented on #130
Since we could distinguish the network type from the uploaded data, why we block the tasks over WiFi?

[2013-01-20 22:45] drchoffnes commented on #130
The original motivation from Speedometer was to measure only cellular
networks (to save battery). We discussed this before and there's no strong
motivation to keep doing this. We can always use server-side scheduling to
change this decision later.

On Sat, Jan 19, 2013 at 11:18 AM, Haokun notifications@github.com wrote:

[2013-02-20 02:57] teamwork523 commented on #150
One of the common reason that MobiPerf will fail on ping/traceroute is that it could not find ping6 executable over IPv6. For the ping task, it will usually fall back to the http version ping (Java ping has specific port requirement). But current implementation uses AndroidHttpClient to setup the connection, which doesn't work over IPv6, so I switched to HttpURLConnection instead, and it works fin

[2013-02-20 18:45] ghost commented on #150
So I dug a little deeper, and it seems that ping6 is on the handset but is
not setuid, which means only rooted phones can gain access to it, which
means it's a bad idea to use it.

On Tue, Feb 19, 2013 at 6:57 PM, Haokun notifications@github.com wrote:

[2013-04-14 08:55] aww-aww opened #154 "Checkins fail with 'Network paused for RRC test' dialog"
I frequently see manual checkins fail with a dialog that says 'Network paused for RRC test'

The dialog is confusing as a user would have no idea what a RRC test is or why the network is paused for it. At a minimum the dialog should be more clear, but it would be great to eliminate the issue altogether.

Also, what is throwing that dialog? I did not find any mentions of RRC in the source, but it m

[2013-04-14 09:02] aww-aww commented on #149
I tested again today, the group still rejects public posts. Please fix the group or replace the contact info on the site with an address that will accept public posts.

[2013-07-23 00:08] aww-aww opened #156 "TCP Speedtest needs a larger target file"
On an LTE connection I get:

"""
No results available.
- Task finishes earlier due to
  exceeding maximum number of received
  bytes
  """

Probably makes sense to add an option to select a 'large' target for high bandwidth connections.

[2019-11-20 16:42] DimuthuKasunWP opened #167 "Unable to run the android sourcecode. local.properties and ant.properties missing"
[property] Loading C:\Users\kasun\Downloads\MobiPerf\android\local.properties
 [property] Unable to find property file: C:\Users\kasun\Downloads\MobiPerf\android\local.properties
 [property] Loading C:\Users\kasun\Downloads\MobiPerf\android\ant.properties
 [property] Unable to find property file: C:\Users\kasun\Downloads\MobiPerf\android\ant.properties
 [property] Loading Environment env.

[2019-11-21 04:41] DimuthuKasunWP opened #168 "How can i run this project?"
I tried different methods and i couldn't run the android project.

[2020-04-23 16:34] jhost-ux opened #169 "2Gig free data"
Get your free data now any enjoy the future

[2020-12-19 07:43] CanadianJeff opened #170 "Android Permissions????"
Network | OK
Location | OK
Read Phone Status | OK
Find Accounts | Seriously WTF!!!!!!!!!!!!!!! https://github.com/Mobiperf/MobiPerf/blob/36fffea0d9a9b128c4f4c8dc7dbb3b07cf491f4a/android/AndroidManifest.xml#L6

[2020-12-19 07:47] CanadianJeff commented on #170
might wanna have a look at
https://stackoverflow.com/questions/42095522/privacy-policy-permission-s